@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Montserrat', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-info{

  & a{
      color: rgb(148 163 184 / var(--tw-text-opacity, 1));
  }
}